<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Roboto+Condensed:300,400,700" rel="stylesheet" />
    <link href="new-ui.css" rel="stylesheet" />
</head>
<body>
    <div id="main">

        <div id="title">
            <h1>Bass Station II</h1>

            <!-- TODO: add a play key like in blofeld rocket -->
            <!--<div>MIDI</div>-->
        </div>

        <div id="sub">

            <div class="header">
                <div>SUB OSC</div>
            </div>

            <div class="control-row">
                <div></div>
                <div class="controls" style="padding-bottom: 1vh;">
                    <div>
                        <div class="bt">sin</div>
                        <div class="bt">pul</div>
                        <div class="bt on">square</div>
                    </div>
                    <div style="margin-left:12px">
                        <div class="bt on">-1 octave</div>
                        <div class="bt">-2 octave</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mixer">

            <div class="header">
                <div>MIXER &amp; VCA</div>
            </div>

            <div class="controls">

                <div></div>
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">VCA Limiter</div>
                </div>

                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Sub</div>
                </div>
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Ext</div>
                </div>

                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Osc 1</div>
                </div>
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Ring</div>
                </div>

                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Osc 2</div>
                </div>
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Noise</div>
                </div>

            </div>
        </div>

        <!--
        <div id="vca">

            <div class="header">
                <div>VCA</div>
            </div>

            <div class="knob-combo">
                <svg class="knob-only" viewbox="0 0 100 100">
                    <use href="#knob-only"/>
                </svg>
                <div class="knob-label">X</div>
            </div>
        </div>
        -->

        <div id="effects">
            <div class="header">
                <div>EFFECTS</div>
            </div>
            <div class="controls">
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Distorsion</div>
                </div>
                <div class="knob-combo">
                    <svg class="knob-only" viewbox="0 0 100 100">
                        <use href="#knob-only"/>
                    </svg>
                    <div class="knob-label">Osc 2 Filter Mod</div>
                </div>
            </div>
        </div>

        <div id="lfo1">

            <div class="colored-header">
                <div class="lfo1"></div>
                <div>LFO 1</div>
                <div class="lfo1"></div>
            </div>

            <div class="control-row">
                <div></div>

                <div class="controls">

                    <div>
                        <div class="bt">tri</div>
                        <div class="bt on">saw</div>
                        <div class="bt">square</div>
                        <div class="bt">S+H</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div>
                        <div class="bt">speed</div>
                        <div class="bt on">sync</div>
                        <select></select>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="lfo2">


            <div class="colored-header">
                <div class="lfo2"></div>
                <div>LFO 2</div>
                <div class="lfo2"></div>
            </div>

            <div class="control-row">
                <div></div>

                <div class="controls">

                    <div>
                        <div class="bt">tri</div>
                        <div class="bt on">saw</div>
                        <div class="bt">square</div>
                        <div class="bt">S+H</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div>
                        <div class="bt">tri</div>
                        <div class="bt on">saw</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="osc1">

            <div class="header">
                <div>OSC 1</div>
            </div>

            <div class="control-row">


                <div class="combo-label osc-pitch-label">
                    pitch
                </div>

                <div class="combo-label osc-mod-label">
                    modulation
                </div>

                <div class="combo-label osc-pw-label">
                    pulse width
                </div>

                <div class="osc-options">
                    <div style="margin-top:0.3rem">
                        <div class="bt">sin</div>
                        <div class="bt on">tri</div>
                        <div class="bt">saw</div>
                        <div class="bt">pul</div>
                    </div>
                    <div style="margin-top:0.3rem;margin-left:0.5rem;margin-right:1rem;">
                        <div class="bt on">16'</div>
                        <div class="bt">8'</div>
                        <div class="bt">4'</div>
                        <div class="bt">2'</div>
                    </div>
                </div>

                <div class="osc-pitch">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Coarse</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Fine</div>
                    </div>
                </div>

                <div class="osc-mod">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo1">LFO 1</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Env</div>
                    </div>
                </div>

                <div class="osc-pw">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Man.</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo2">LFO 2</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Env</div>
                    </div>
                </div>

            </div>

        </div>

        <div id="osc2">

            <div class="header">
                <div>OSC 2</div>
            </div>

            <div class="control-row">
                <div class="combo-label osc-pitch-label">
                    pitch
                </div>
                <div class="combo-label osc-mod-label">
                    modulation
                </div>
                <div class="combo-label osc-pw-label">
                    pulse width
                </div>

                <div class="osc-options">
                    <div style="margin-top:0.3rem">
                        <div class="bt">sin</div>
                        <div class="bt on">tri</div>
                        <div class="bt">saw</div>
                        <div class="bt">pul</div>
                    </div>
                    <div style="margin-top:0.3rem;margin-left:0.5rem;margin-right:1rem;">
                        <div class="bt on">16'</div>
                        <div class="bt">8'</div>
                        <div class="bt">4'</div>
                        <div class="bt">2'</div>
                    </div>
                </div>

                <div class="osc-pitch">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Coarse</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Fine</div>
                    </div>
                </div>

                <div class="osc-mod">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo1">LFO 1</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Env</div>
                    </div>
                </div>

                <div class="osc-pw">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Man.</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo2">LFO 2</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Env</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="filter">

            <div class="header">
                <div>FILTER</div>
            </div>

            <div class="control-row">

                <div class="combo-label" id="filter-options-label">
                    type
                </div>

                <div id="filter-options">
                    <div style="display:flex;align-items: flex-start">
                        <div>
                            <div class="bt">classic</div>
                            <div class="bt float on">acid</div>
                        </div>
                        <div style="margin-left:12px">
                            <div class="bt on">LP</div>
                            <div class="bt ">BP</div>
                            <div class="bt ">HP</div>
                        </div>
                    </div>
                    <div>
                        <div class="bt on">12dB</div>
                        <div class="bt">24dB</div>
                    </div>
                </div>

                <div id="filter-reso">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Reso</div>
                    </div>
                </div>

                <div id="filter-freq">
                    <div class="knob-combo">
                        <svg class="knob-only" style="height: 10.4vh;" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Freq</div>
                    </div>
                </div>

                <div class="combo-label" id="filter-mod-label">
                    freq. modulation
                </div>

                <div id="filter-mod">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo2">LFO 2</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Env</div>
                    </div>
                </div>

                <div id="filter-overdrive">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Overdrive</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="modenv" id="mod-env">

            <div class="colored-header">
                <div class="modenv"></div>
                <div>MOD ENV</div>
                <div class="modenv"></div>
            </div>

            <div class="control-row">
                <div></div>

                <div class="controls">

                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Attack</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Decay</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Sustain</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Release</div>
                    </div>
                    <div style="margin-top:0.3rem;margin-left:1rem">
                        <div class="bt">multi</div>
                        <div class="bt">single</div>
                        <div class="bt on">autoglide</div>
                    </div>
                </div>

            </div>
        </div>

        <div id="amp-env">

            <div class="header">
                <div>AMP ENV</div>
            </div>

            <div class="control-row">
                <div></div>

                <div class="controls">

                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">A</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">D</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">S</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">R</div>
                    </div>
                    <div style="margin-top:0.3rem;margin-left:1rem">
                        <div class="bt">multi</div>
                        <div class="bt">single</div>
                        <div class="bt on">autoglide</div>
                    </div>
                </div>

            </div>

        </div>

        <div id="wheels">

            <div class="header">
                <div>WHEELS</div>
            </div>

            <div class="control-row">

                <div class="combo-label wheel-pitch-label">
                    osc 1
                </div>
                <div class="combo-label wheel-osc1-2-label">
                    osc 1+2
                </div>
                <div class="combo-label wheel-osc2-label">
                    osc 2
                </div>
                <div class="combo-label wheel-filter-label">
                    filter freq.
                </div>

                <div class="wheel-pitch">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Pitch</div>
                    </div>
                </div>
                <div class="wheel-osc1-2">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo1">LFO 1 Pitch</div>
                    </div>
                </div>
                <div class="wheel-osc2">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Pitch</div>
                    </div>
                </div>
                <div class="wheel-filter">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label"></div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo2">LFO 2</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="keyboard">

            <div class="header">
                <div>KEYBOARD</div>
            </div>

            <div class="control-row" style="justify-content: center;">

                <div class="combo-label keyboard-aftertouch-label">
                    aftertouch
                </div>
                <div class="combo-label keyboard-velocity-label">
                    velocity
                </div>

                <div class="keyboard-start">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Sustain</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Glide</div>
                    </div>
                </div>
                <div class="keyboard-aftertouch">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo1">LFO 1 Osc1+2</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label lfo2">LFO 2 Speed</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Filter freq.</div>
                    </div>
                </div>
                <div class="keyboard-velocity">
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">Amp env.</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label modenv">Mod env.</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="arpeggiator">

            <div class="header">
                <div>ARPEGGIATOR</div>
            </div>

            <div class="control-row">
                <div></div>

                <div class="controls">

                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                    <div class="knob-combo">
                        <svg class="knob-only" viewbox="0 0 100 100">
                            <use href="#knob-only"/>
                        </svg>
                        <div class="knob-label">X</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <svg xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="grad" gradientTransform="rotate(65)">
                <stop offset="0%" stop-color="#555"/>
                <stop offset="95%" stop-color="#222"/>
            </linearGradient>
            <g id="knob">
                <circle class="path" cx="50" cy="50" r="34"/>
                <text class="label" text-anchor="middle" x="50" y="110">Label</text>
            </g>
            <g id="knob-only">
                <circle fill="url(#grad)" class="path" cx="50" cy="50" r="40"/>
                <text class="value" text-anchor="middle" x="50" y="58">123.0</text>
            </g>
        </defs>
    </svg>
</body>
</html>