
    :root {
        --inset-width: 1px;

        --lfo1: #BA7B0B;
        --lfo2: #976308;
        /*--modenv: #4B0F9F;*/
        /*--modenv: #632ead;*/
        --modenv: #5A0C9E;

        --lfo1-text: #ccc;
        --lfo2-text: #bbb;
        --modenv-text: #bbb;

        --default-bg-from: #454547;
        --default-bg-to: #373738;

        --mod-bg-from: #0b5a74;
        --mod-bg-to: #08495e;

        --osc-bg-from: #226666;
        --osc-bg-to: #0d4d4d;

        --filter-bg-from: #1a4040;
        --filter-bg-to: #052929;

        --amp-bg-from: #3f2425;
        --amp-bg-to: #543738;

        --fx-bg-from: #62001c;
        --fx-bg-to: #850026;
    }

    html {
        /* html is the root element for "rem" unit */
        font-size: 1.7vh;
    }

    body {
        margin: 0;
        padding: 1vh 0 0 0;
        background: #251639 linear-gradient(to bottom, #262642, #251639);
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
    }

/*
    h1,
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }

    h1 {
        color: #aaa;
        margin: 3px 4px;
        display: block;
        align-self: center;
        font-size: 1.0rem;
        letter-spacing: 2px;
        font-weight: 0;
        padding-left: 0.2vw;
        margin-bottom: 0.25vh;
    }

    h1 span {
        background: #333;
        margin-left: 1vw;
        padding: 0 6px;
    }
*/

    .header {
        margin: 3px 0 6px 0;
    }

    .header > div {
        font-family: "Roboto Condensed", sans-serif;
        color: #ccc;
        padding: 0 3px;
        font-size: 1.0rem;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .colored-header {
        display: flex;
        margin: 3px 0 6px 0;
    }

    .colored-header > div {
        /* display: table-cell; */
        font-size: 1.0rem;
        font-family: "Roboto Condensed", sans-serif;
        /* line-height: 1rem; */
        /* height: 1rem; */
        /* vertical-align:baseline;  */
    }

    .colored-header div:nth-child(1) {
        /* background-color: red; */
        width: 1vw;
        flex-grow: 0;
    }

    .colored-header div:nth-child(2) {
        color: #ccc;
        flex-grow: 0;
        align-self: center;
        padding: 0 3px;
        letter-spacing: 1px;
        font-weight: 500;
        /* padding-left: 0.2vw; */
        /*border-top: 1px solid #575B19;*/
        /*border-bottom: 1px solid #575B19;*/
    }

    .colored-header div:nth-child(3) {
        flex-grow: 1;
    }

    #main {
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        align-items: start;
    }

    #main > div {
        align-self: stretch;
        background: #323232 linear-gradient(to bottom, var(--default-bg-from), var(--default-bg-to));
        /* border-radius: 4px; */
        padding: 0.25vh 4px 0 4px;
        border-top: var(--inset-width) solid gray;
        border-bottom: var(--inset-width) solid black;
        border-left: var(--inset-width) solid gray;
        border-right: var(--inset-width) solid black;
    }

    .control-row {
        display: grid !important;
        grid-column-gap: 1.5vw;
        grid-row-gap: 0.5vh;
        justify-content: start;
        grid-template-rows: 2.5vh auto;
        padding-left: 6px;
        padding-right: 6px;
    }
    .control-row.add-row {
        grid-template-rows: 2.5vh auto 2.5vh auto;
    }

    div.controls {
        display: flex;
        /*padding-left: 6px;*/
        /*padding-right: 6px;*/
    }

    #title {
        grid-column: 1 / span 5;
        grid-row: 1;
        background: transparent !important;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        padding: 0 !important;
    }

    #title h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.6rem;
        color: #ccc;
        padding: 0;
        margin: 0;
    }

    #sub {
        grid-row: 2;
        grid-column: 4;
        /* min-width: 10vw; */
    }

    #mixer-top-right {
        grid-row: 2;
        grid-column: 5;
    }

    #mixer {
        grid-row: 3;
        grid-column: 4 / span 2;
        display: grid !important;
        grid-template-rows: 2.5vh auto;
        grid-column-gap: 1.5vw;
        grid-row-gap: 0.5vh;
    }

    #mixer .controls {
        align-self: end;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
            grid-column-gap: 1.5vw;
    }

    #vca {
        grid-row: 7;
        grid-column: 5;
    }

    #effects {
        grid-row: 7;
        grid-column: 4;
        display: grid !important;
        grid-template-rows: 2.5vh auto;
        grid-row-gap: 0.5vh;
    }

    #effects .controls {
        align-self: end;
            /* display: grid !important; */
            display: flex;
    }

    #sub, #lfo1, #lfo2, #mod-env {
        background: var(--mod-bg-from) linear-gradient(to bottom, var(--mod-bg-from), var(--mod-bg-to)) !important;
    }

    #lfo1 {
        grid-column: 1;
        grid-row: 2;
    }

    #lfo2 {
        grid-column: 1;
        grid-row: 3;
    }

    .combo-label {
        text-align: center;
        border-bottom: 1px solid #999;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        color: #aaaaaa;
        align-self: end;
        padding-bottom: 2px;    /* push text to bottom */
    }

    #osc1 {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    #osc2 {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    #osc1,
    #osc2 {
        background: var(--osc-bg-from) linear-gradient(to bottom, var(--osc-bg-from), var(--osc-bg-to)) !important;
        display: grid !important;
        grid-template-rows: 2.5vh auto;
        grid-column-gap: 1.5vw;
        grid-row-gap: 0.5vh;
        justify-content: start;
    }

    .osc-pitch-label {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    .osc-mod-label {
        grid-column: 5 / span 2;
        grid-row: 1;
    }

    .osc-pw-label {
        grid-column: 7 / span 3;
        grid-row: 1;
    }

    .osc-options {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: flex;
    }

    .osc-pitch {
        grid-column: 3 / span 2;
        grid-row: 2;
        display: flex;
    }

    .osc-mod {
        grid-column: 5 / span 2;
        grid-row: 2;
        justify-self: stretch;
        display: flex;
    }

    .osc-pw {
        grid-column: 7 / span 3;
        grid-row: 2;
        display: flex;
    }

    #filter {
        grid-column: 2 / span 2;
        grid-row: 4 / span 2;
        background: linear-gradient(to bottom, var(--filter-bg-from), var(--filter-bg-to)) !important;
    }

    #filter .control-row {
            grid-template-rows: 2.5vh auto;
    }

    #filter-options-label {
        grid-row: 1;
        grid-column: 1;
    }

    #filter-options {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #filter-reso {
        grid-row: 2;
        grid-column: 2;
    }

    #filter-freq {
        grid-row: 1 / span 2;
        grid-column: 3;
    }

    #filter-mod-label {
        grid-row: 1;
        grid-column: 4;
    }

    #filter-mod {
        grid-row: 2;
        grid-column: 4;
        display: flex;
        justify-content: center;
    }

    #filter-overdrive {
        grid-row: 2;
        grid-column: 5;
    }

    #mod-env {
        grid-column: 1;
        grid-row: 4 / span 2;
    }

    #amp-env, #mixer {
        background: var(--amp-bg-from) linear-gradient(to bottom, var(--amp-bg-from), var(--amp-bg-to)) !important;
    }

    #effects {
        background: var(--fx-bg-from) linear-gradient(to bottom, var(--fx-bg-from), var(--fx-bg-to)) !important;
    }

    #amp-env {
        grid-row: 4 / span 2;
        grid-column: 4 / span 2;
    }

    #separator {
        grid-row: 6;
        grid-column: 1 / span 5;
        height: 1vh;
        background: transparent!important;
        border: none!important;

    }

    #wheels {
        grid-column: 1;
        grid-row: 7 / span 2;
    }

    .wheel-pitch-label {
        grid-column: 1;
        grid-row: 1;
    }

    .wheel-osc1-2-label {
        grid-column: 2;
        grid-row: 1;
    }

    .wheel-osc2-label {
        grid-column: 3;
        grid-row: 1;
    }

    .wheel-pitch {
        grid-column: 1;
        grid-row: 2;
        display: flex;
    }

        .wheel-osc2 {
        grid-column: 2;
        grid-row: 2;
        display: flex;
    }

        .wheel-osc1-2 {
        grid-column: 3;
        grid-row: 2;
        display: flex;
    }

        .wheel-filter-label {
            grid-column: 1 / span 2;
            grid-row: 3;
        }

    .wheel-filter {
            grid-column: 1 / span 3;
            grid-row: 4;
        display: flex;
    }

    #keyboard {
        grid-row: 7;
        grid-column: 2 / span 2;
    }

    .keyboard-aftertouch-label {
        grid-column: 3 / span 3;
        grid-row: 1;
    }

    .keyboard-velocity-label {
        grid-column: 6 / span 2;
        grid-row: 1;
    }

    .keyboard-start {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: flex;
    }

    .keyboard-aftertouch {
        grid-column: 3 / span 3;
        grid-row: 2;
        display: flex;
    }

    .keyboard-velocity {
        grid-column: 6 / span 2;
        grid-row: 2;
        display: flex;
    }

    #arpeggiator {
        grid-row: 8;
        grid-column: 2 / span 4;
    }

/*
    .knob {
        height: 8vh;
        margin-left: 0.3rem;
    }
*/

    .knob-combo {
        line-height: 100%;
        text-align: center;
    }

    .knob-only {
        height: 8vh;
        margin: 0;
    }

    .knob-label {
        text-align: center;
        padding: 3px 2px 0px 2px;
        margin: 0 0.2vh 1vh;
        font-size: 1rem;
        line-height: 1.7vh;
        color: #bbb;
    }

    .no-margin {
        margin: 0;
    }

    .path {
        stroke: #1c1c1c;
        stroke-width: 5;
    }

    .label {
        font-size: 1rem;
        stroke: none;
        fill: #fff;
    }

    .value {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 130%;
        font-weight: 300;
        stroke: none;
        fill: #c6c600;
    }

    div.bt {
        padding: 0 0.2rem 0 0;
        margin: 0;
        color: #bbb;
        font-family: 'Roboto Condensed', sans-serif;
    }

    div.bt.on {
        color: yellow;
    }

    .lfo1 {
        background-color: var(--lfo1) !important;
        color: var(--lfo1-text);
    }

    .lfo2 {
        background-color: var(--lfo2) !important;
        color: var(--lfo2-text);
    }

    .modenv {
        background-color: var(--modenv) !important;
        color: var(--modenv-text);
    }


    .env-combo {
        display:flex;
        margin-top:1.5vh;
    }

    .env-combo > div:nth-child(1) {
        margin-left:4px;
    }

    .env-combo > div:nth-child(2) {
        flex-grow:1;
        margin-left:1vw;
        /*border:1px solid yellow;*/
    }

    .env-combo > div:nth-child(2) > div:nth-child(1) {
        display:flex;
        justify-content:flex-end;
    }

    .vslider {
       /* display: inline-block; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 3vw;

        text-align: center;
        margin-bottom: 6px;
    }


    .env-slider {
        /* display: inline-block; */
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 2vw;
        text-align: center;
        margin-bottom: 6px;
    }


    .slider-value {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #A39038;
    }

    .slider-label {
        font-size: 1rem;
        color: #bbb;
    }

    input[type="range"] {
        /* display:block; */
        -webkit-appearance: slider-vertical;
        /* width: 2vw; */
        height: 9vh;
         margin: 4px 0 8px 0;
         padding: 0;
             /* transform-origin: 75px 75px;
             transform: rotate(-90deg);  */
    }

    .env-slider input[type="range"] {
        height: 8.5vh;
        margin: 4px 0 4px 0;

    }

    input[type=range]::-webkit-slider-runnable-track {
        background: #333;
        border-radius: 0;
        border: 1px solid #877;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 1px solid blue;
        /*height: 36px;*/
        /*width: 16px;*/
        /*border-radius: 3px;*/
        background: yellow;
        cursor: pointer;
        /*margin-top: -14px; !* You need to specify a margin in Chrome, but in Firefox and IE it is automatic *!*/
        /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; !* Add cool effects to your sliders! *!*/
    }
