<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Roboto+Condensed:300,400,700" rel="stylesheet" />
    <!-- <link href="new-ui-layout.css" rel="stylesheet" /> -->
    <link href="new-ui-mono.css?123" rel="stylesheet" />
</head>
<body>
<!--
    <svg viewbox="0 0 100 100" style="height: 10vh;background-color: #2f3f3f">
        <use href="#s0"/>
    </svg>
    saw<svg viewbox="0 0 100 40" style="height: 2vh;stroke:transparent;fill:#fff;background-color: #2f3f3f">
        <use href="#s1"/>
    </svg>
-->
    <!--<img src="noun_583243_cc.svg" />-->
    <!--<svg viewBox="0 0 100 100">-->
        <!--<use xlink:href="noun_583243_cc.svg"></use>-->
    <!--</svg>-->

    <img src="noun_385866_cc.svg" width="100px"/>

    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
        <defs>
        <g id="s1">
            <polygon points="64,31.9 64,11.9 34,31.9 34,11.9 5.6,30.8 4.4,29.2 36,8.1 36,28.1 66,8.1 66,28.1 94.4,9.2 95.6,10.8  "/>
        </g>
        </defs>
    </svg>
</body>