<div id="sheet">

    <h2>Sub osc</h2>
    <table id="sub" class="values">
        <tbody>
        <tr id="control-81" title="Sub Osc Oct">
            <td>Sub Osc Oct</td>
            <td>-1</td>
        </tr>
        <tr id="control-80" title="Sub Osc Wave">
            <td>Sub Osc Wave</td>
            <td>sin</td>
        </tr>
        </tbody>
    </table>
    <h2>LFO 1</h2>
    <table id="lfo1" class="values">
        <tbody>
        <tr id="control-18" title="LFO1 Speed">
            <td>LFO1 Speed</td>
            <td>75</td>
        </tr>
        <tr id="control-86" title="LFO1 Delay">
            <td>LFO1 Delay</td>
            <td>0</td>
        </tr>
        <tr id="control-88" title="LFO1 Wave">
            <td>LFO1 Wave</td>
            <td>triangle</td>
        </tr>
        <tr id="nrpn-89" title="LFO1 Key Sync">
            <td>LFO1 Key Sync</td>
            <td>off</td>
        </tr>
        <tr id="nrpn-88" title="LFO1 Speed/Sync">
            <td>LFO1 Speed/Sync</td>
            <td>speed</td>
        </tr>
        <tr id="nrpn-87" title="LFO1 Sync Value">
            <td>LFO1 Sync Value</td>
            <td>64</td>
        </tr>
        <tr id="nrpn-86" title="LFO1 Slew">
            <td>LFO1 Slew</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>LFO 2</h2>
    <table id="lfo2" class="values">
        <tbody>
        <tr id="control-19" title="LFO2 Speed">
            <td>LFO2 Speed</td>
            <td>52</td>
        </tr>
        <tr id="control-87" title="LFO2 Delay">
            <td>LFO2 Delay</td>
            <td>0</td>
        </tr>
        <tr id="control-89" title="LFO2 Wave">
            <td>LFO2 Wave</td>
            <td>triangle</td>
        </tr>
        <tr id="nrpn-93" title="LFO2 Key Sync">
            <td>LFO2 Key Sync</td>
            <td>on</td>
        </tr>
        <tr id="nrpn-92" title="LFO2 Speed/Sync">
            <td>LFO2 Speed/Sync</td>
            <td>speed</td>
        </tr>
        <tr id="nrpn-91" title="LFO2 Sync Value">
            <td>LFO2 Sync Value</td>
            <td>64</td>
        </tr>
        <tr id="nrpn-90" title="LFO2 Slew">
            <td>LFO2 Slew</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>Osc 1</h2>
    <table id="osc1" class="values">
        <tbody>
        <tr id="control-26" title="Osc1 Fine">
            <td>Osc1 Fine</td>
            <td>0</td>
        </tr>
        <tr id="control-70" title="Osc1 Range">
            <td>Osc1 Range</td>
            <td>8'</td>
        </tr>
        <tr id="control-27" title="Osc1 Coarse">
            <td>Osc1 Coarse</td>
            <td>0.0</td>
        </tr>
        <tr id="control-71" title="Osc1 Mod Env Depth">
            <td>Osc1 Mod Env Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-28" title="Osc1 LFO1 Depth">
            <td>Osc1 LFO1 Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-72" title="Osc1 Mod Env PW Mod">
            <td>Osc1 Mod Env PW Mod</td>
            <td>0</td>
        </tr>
        <tr id="control-73" title="Osc1 LFO2 PW Mod">
            <td>Osc1 LFO2 PW Mod</td>
            <td>-1</td>
        </tr>
        <tr id="control-74" title="Osc1 Manual PW">
            <td>Osc1 Manual PW</td>
            <td>50</td>
        </tr>
        <tr id="nrpn-72" title="Osc1 Waveform">
            <td>Osc1 Waveform</td>
            <td>saw</td>
        </tr>
        </tbody>
    </table>
    <h2>Osc 2</h2>
    <table id="osc2" class="values">
        <tbody>
        <tr id="control-29" title="Osc2 Fine">
            <td>Osc2 Fine</td>
            <td>0</td>
        </tr>
        <tr id="control-75" title="Osc2 Range">
            <td>Osc2 Range</td>
            <td>8'</td>
        </tr>
        <tr id="control-30" title="Osc2 Coarse">
            <td>Osc2 Coarse</td>
            <td>0.0</td>
        </tr>
        <tr id="control-76" title="Osc2 Mod Env Depth">
            <td>Osc2 Mod Env Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-31" title="Osc2 LFO1 Depth">
            <td>Osc2 LFO1 Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-77" title="Osc2 Mod Env PW Mod">
            <td>Osc2 Mod Env PW Mod</td>
            <td>0</td>
        </tr>
        <tr id="control-78" title="Osc2 LFO2 PW Mod">
            <td>Osc2 LFO2 PW Mod</td>
            <td>63</td>
        </tr>
        <tr id="control-79" title="Osc2 Manual PW">
            <td>Osc2 Manual PW</td>
            <td>50</td>
        </tr>
        <tr id="control-110" title="Osc 1 2 Sync">
            <td>Osc 1 2 Sync</td>
            <td>off</td>
        </tr>
        <tr id="nrpn-82" title="Osc2 Waveform">
            <td>Osc2 Waveform</td>
            <td>saw</td>
        </tr>
        </tbody>
    </table>
    <h2>Mixer</h2>
    <table id="mixer" class="values">
        <tbody>
        <tr id="control-20" title="Mixer Osc 1 Level">
            <td>Mixer Osc 1 Level</td>
            <td>255</td>
        </tr>
        <tr id="control-21" title="Mixer Osc 2 Level">
            <td>Mixer Osc 2 Level</td>
            <td>0</td>
        </tr>
        <tr id="control-22" title="Mixer Sub Osc Level">
            <td>Mixer Sub Osc Level</td>
            <td>0</td>
        </tr>
        <tr id="control-23" title="Mixer Noise Level">
            <td>Mixer Noise Level</td>
            <td>0</td>
        </tr>
        <tr id="control-24" title="Mixer Ring Mod Level">
            <td>Mixer Ring Mod Level</td>
            <td>0</td>
        </tr>
        <tr id="control-25" title="Mixer External Signal Level">
            <td>Mixer External Signal Level</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>Filter</h2>
    <table id="filter" class="values">
        <tbody>
        <tr id="control-83" title="Filter Type">
            <td>Filter Type</td>
            <td>classic</td>
        </tr>
        <tr id="control-106" title="Filter Slope">
            <td>Filter Slope</td>
            <td>24dB</td>
        </tr>
        <tr id="control-84" title="Filter Shape">
            <td>Filter Shape</td>
            <td>LP</td>
        </tr>
        <tr id="control-16" title="Filter Frequency">
            <td>Filter Frequency</td>
            <td>255</td>
        </tr>
        <tr id="control-82" title="Filter Resonance">
            <td>Filter Resonance</td>
            <td>0</td>
        </tr>
        <tr id="control-85" title="Filter Mod Env Depth">
            <td>Filter Mod Env Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-17" title="Filter LFO2 Depth">
            <td>Filter LFO2 Depth</td>
            <td>0</td>
        </tr>
        <tr id="control-114" title="Filter Overdrive">
            <td>Filter Overdrive</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>Amp Env</h2>
    <table id="amp_env" class="values">
        <tbody>
        <tr id="control-90" title="Amp Env Attack">
            <td>Amp Env Attack</td>
            <td>0</td>
        </tr>
        <tr id="control-91" title="Amp Env Decay">
            <td>Amp Env Decay</td>
            <td>0</td>
        </tr>
        <tr id="control-92" title="Amp Env Sustain">
            <td>Amp Env Sustain</td>
            <td>127</td>
        </tr>
        <tr id="control-93" title="Amp Env Release">
            <td>Amp Env Release</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-73" title="Amp Env Triggering">
            <td>Amp Env Triggering</td>
            <td>multi</td>
        </tr>
        </tbody>
    </table>
    <h2>Mod Env</h2>
    <table id="mod_env" class="values">
        <tbody>
        <tr id="control-102" title="Mod Env Attack">
            <td>Mod Env Attack</td>
            <td>0</td>
        </tr>
        <tr id="control-103" title="Mod Env Decay">
            <td>Mod Env Decay</td>
            <td>0</td>
        </tr>
        <tr id="control-104" title="Mod Env Sustain">
            <td>Mod Env Sustain</td>
            <td>127</td>
        </tr>
        <tr id="control-105" title="Mod Env Release">
            <td>Mod Env Release</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-105" title="Mod Env Triggering">
            <td>Mod Env Triggering</td>
            <td>multi</td>
        </tr>
        </tbody>
    </table>
    <h2>VCA</h2>
    <table id="vca" class="values">
        <tbody>
        <tr id="control-95" title="VCA Limit">
            <td>VCA Limit</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>Effects</h2>
    <table id="effects" class="values">
        <tbody>
        <tr id="control-94" title="Fx Distortion">
            <td>Fx Distortion</td>
            <td>0</td>
        </tr>
        <tr id="control-115" title="Fx Osc Filter Mod">
            <td>Fx Osc Filter Mod</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>ARP</h2>
    <table id="arp" class="values">
        <tbody>
        <tr id="control-108" title="Arp On">
            <td>Arp On</td>
            <td>off</td>
        </tr>
        <tr id="control-109" title="Arp Latch">
            <td>Arp Latch</td>
            <td>off</td>
        </tr>
        <tr id="control-119" title="Arp Rhythm">
            <td>Arp Rhythm</td>
            <td>31</td>
        </tr>
        <tr id="control-118" title="Arp Note Mode">
            <td>Arp Note Mode</td>
            <td>up</td>
        </tr>
        <tr id="control-111" title="Arp Octaves">
            <td>Arp Octaves</td>
            <td>0</td>
        </tr>
        <tr id="control-116" title="Arp Swing">
            <td>Arp Swing</td>
            <td>50</td>
        </tr>
        <tr id="nrpn-106" title="Arp Seq Retrig">
            <td>Arp Seq Retrig</td>
            <td>on</td>
        </tr>
        </tbody>
    </table>
    <h2>Keyboard</h2>
    <table id="keyboard" class="values">
        <tbody>
        <tr id="control-5" title="Portamento Time">
            <td>Portamento Time</td>
            <td>0</td>
        </tr>
        <tr id="control-64" title="Sustain">
            <td>Sustain</td>
            <td>0</td>
        </tr>
        <tr id="control-112" title="Velocity Amp Env">
            <td>Velocity Amp Env</td>
            <td>-1</td>
        </tr>
        <tr id="control-113" title="Velocity Mod Env">
            <td>Velocity Mod Env</td>
            <td>-1</td>
        </tr>
        <tr id="nrpn-74" title="Aftertouch Filter Freq">
            <td>Aftertouch Filter Freq</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-75" title="Aftertouch LFO1 to Osc 1+2 Pitch">
            <td>Aftertouch LFO1 to Osc 1+2 Pitch</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-76" title="Aftertouch LFO2 Speed">
            <td>Aftertouch LFO2 Speed</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
    <h2>Wheels</h2>
    <table id="wheels" class="values">
        <tbody>
        <tr id="control-107" title="Osc Pitch Bend Range">
            <td>Osc Pitch Bend Range</td>
            <td>12</td>
        </tr>
        <tr id="nrpn-94" title="Mod Wheel Filter Freq">
            <td>Mod Wheel Filter Freq</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-70" title="Mod Wheel LFO1 to Osc Pitch">
            <td>Mod Wheel LFO1 to Osc Pitch</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-71" title="Mod Wheel LFO2 to Filter Freq">
            <td>Mod Wheel LFO2 to Filter Freq</td>
            <td>0</td>
        </tr>
        <tr id="nrpn-78" title="Mod Wheel Osc2 Pitch">
            <td>Mod Wheel Osc2 Pitch</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>