<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bass Station II Patch Sheet</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" media="all" href="patch.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bs2.js"></script>
    <script src="patch-sheet.js"></script>
</head>
<body>
    <h1>Bass Station II Patch Sheet</h1>
    <div></div>
    <div></div>
    <div id="template-main">
    <div id="main" class="wrapper">

        <div class="box">
            <h2>Osc 1</h2>
            {{#v}}osc1{{/v}}
        </div>
        <div class="box">
            <h2>Osc 2</h2>
            {{#v}} osc2 {{/v}}
        </div>

        <div class="box">
            <h2>LFO 1</h2>
            {{#v}} lfo1 {{/v}}
        </div>
        <div class="box">
            <h2>LFO 2</h2>
            {{#v}} lfo2 {{/v}}
        </div>

        <div class="box">
            <h2>Mixer</h2>
            {{#v}} mixer {{/v}}
        </div>
        <div class="box">
            <h2>Filter</h2>
            {{#v}} filter {{/v}}
        </div>

        <div class="box">
            <h2>Amp Env</h2>
            {{#v}} amp_env {{/v}}
        </div>
        <div class="box">
            <h2>Mod Env</h2>
            {{#v}} mod_env {{/v}}
        </div>

        <div class="box">
            <h2>ARP</h2>
            {{#v}} arp {{/v}}
        </div>

        <div class="box">
            <h2>Keyboard</h2>
            {{#v}} keyboard {{/v}}
        </div>

        <div class="box">
            <h2>Wheels</h2>
            {{#v}} wheels {{/v}}
        </div>

        <div class="box">
            <h2>Effects</h2>
            {{#v}} effects {{/v}}

            <h2 style="margin-top: 10px">VCA</h2>
            {{#v}} vca {{/v}}
        </div>

    </div>
    </div>
</body>