body {
    background-color: #000000;
    color: #eee;
}

h1, h2 {
    color: #707070;
}

main > div {
    background-color: #333;
    /*color: #fff;*/
}

.head {
    color: #666;
}

.commands {
    /*color: #C0C040;*/
}

#connection-status {
    color: #C0C040;
}

.error {
    color: #ff2222;
}

.control {
    color: #aaa;
}
label {
     color: #aaa;
 }

button {
    background-color: #666;
    border: 1px solid #999;
    color: #ccc;
}

select {
    color: #ffec03;
    background-color: #333;
    border-color: #707070;
}

.value {
    color: #ffec03;
}

.off {
    color: #707070;
}

.on {
    color: #ffec03;
}

.novation-blue {
    color: #009AD7;
}