body {
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Roboto Mono', monospace;*/
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}

h1 {
    margin: 0 0 10px 0;
}

h2 {
    margin: 0 0 10px 0;
}
/*
main {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 0.8fr 0.8fr;
    grid-auto-flow: row;
}

main > div {
    border: 1px solid #aaaaaa;
    padding: 5px;
}
*/

main {
    display: grid;
    grid-gap: 4px;
    /*grid-template-columns: repeat(8, 1fr);*/
    justify-content: left;
}

main > div {
    border-radius: 8px;
    padding: 8px;
}

.head {
    grid-column: 1 / span 9;
    grid-row: 1;
}
#sub {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
#lfo1 {
    grid-column: 1;
    grid-row: 4 / span 3;
}
#lfo2 {
    grid-column: 2 ;
    grid-row: 4 / span 3;
}
#osc1 {
    grid-column: 3;
    grid-row: 2 / span 5;
}
#osc2 {
    grid-column: 4;
    grid-row: 2 / span 5;
}
#mixer {
    grid-column: 5 / span 2;
    grid-row: 2 / span 4;
}
#filter {
    grid-column: 7 / span 2;
    grid-row: 2 / span 3;
}
#effects {
    grid-column: 9;
    grid-row: 2 / span 4;
}
#mod-env {
    grid-column: 5 / span 2;
    grid-row: 6;
}
#amp-env {
    grid-column: 7 / span 2;
    grid-row: 5 / span 2;
}
#avail01 {
    grid-column: 9;
    grid-row: 6 / span 2;
}
/*
#other1 {
    grid-column: 5 / span 2;
    grid-row: 7;
}
#other2 {
    grid-column: 7 / span 2;
    grid-row: 7;
}
*/
#wheels {
    grid-column: 1 / span 4;
    grid-row: 7;
}
#keyboard {
    grid-column: 5 / span 4;
    grid-row: 7;
}
#arpeggiator {
    grid-column: 1 / span 9;
    grid-row: 8;
}
#status {
    grid-column: 1 / span 9;
    grid-row: 9;
}


#status {
    font-size: 0.9em;
}

.head {
    font-size: 0.9em;
}

#patch-number {
    /*margin-left: 10px;*/
}

.commands {
    margin-left:20px;
}

.subhead {
    float:right;
    margin-right: 5px;
    margin-top: 3px;
}

#connection-status {
    float: right;
    margin-right: 5px;
    font-size: 0.8em;
}


div.control {
    /*float: left;*/
    width: 60px;
    text-align: center;
    margin: 0 5px 5px 0;
}
div.row {
    float: left;
}
div.left > div.control {
    text-align: left;
}
div.double {
    width: 125px;
}
label {
    font-size: 0.8em;
}
div.control > label {
    display: block;
    margin-top:-10px;
}
/*div.label {
    background-color: yellow;
    margin-top:-10px;
}*/
.group:after {
    content: "";
    display: table;
    clear: both;
}
.spacer {
    float: left;
    width: 10px;
}

.control.space-left {
    margin-left: 10px;
}
.space-after {
    margin-bottom: 15px;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 4px;
    font-size: 0.8em;
    color: #aaa;
}

select {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 4px;
    font-size: 0.8em;
}

.value {
    font-size: 0.8em;
}

.dial {
    font-size: 0.8em!important;
}

span.handle {
    cursor: pointer;
    user-select: none;
}