body {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto Mono', monospace;*/
    background-color: #eee;

}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

h1 {
    margin: 0 0 10px 0;
}

h2 {
    margin: 0 0 10px 0;
}
/*
main {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 0.8fr 0.8fr;
    grid-auto-flow: row;
}

main > div {
    border: 1px solid #aaaaaa;
    padding: 5px;
}
*/


main {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(8, 1fr);
    /*background-color: #eee;*/
    /*color: #444;*/
}

main > div {
    background-color: #fff;
    /*color: #fff;*/
    border-radius: 8px;
    padding: 8px;
    /*padding: 20px;*/
    /*font-size: 150%;*/
}

.sub {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.lfo1 {
    grid-column: 1;
    grid-row: 3 / span 3;
}
.lfo2 {
    grid-column: 2 ;
    grid-row: 3 / span 3;
}
.osc1 {
    grid-column: 3;
    grid-row: 1 / span 5;
}
.osc2 {
    grid-column: 4;
    grid-row: 1 / span 5;
}
.mix {
    grid-column: 5 / span 2;
    grid-row: 1 / span 4;
}
.fil {
    grid-column: 7 / span 2;
    grid-row: 1 / span 4;
}
.mod {
    grid-column: 7 / span 2;
    grid-row: 5;
}
.amp {
    grid-column: 5 / span 2;
    grid-row: 5;
}
