body {
    background-color: #009AD7;
    color: #009AD7;
}

h1, h2 {
    color: #009AD7;
}

main > div {
    background-color: #fff;
}

a {
    text-decoration: none;
}

#credits-link {
    color: #707070;
    text-decoration: none;
    font-size: 0.8em;
}


*:focus {
    outline: none;
}

.commands {
    /*color: #C0C040;*/
}

.error {
    color: #ff2222;
}

.novation-blue {
    color: #009AD7;
}

.control,
label,
legend {
    color: #009AD7;
}

button {
    background-color: #b3e9ff;
    border: 1px solid #33c5ff;
    color: #333;
}

select {
    color: #333;
    background-color: #b3e9ff;
    border-color: #33c5ff;
    border-radius: 4px;
}

.value {
    color: #ffec03;
}

.off {
    color: #aaa;
}

.on {
    color: #005b80;
}

.handle {
    padding: 1px 3px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
}

.handle.on {
    border-color: #33c5ff;
    /*border-width: 2px;*/
    background-color: #b3e9ff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.lightbox {
    background-color: #fff;
    color: #000;
}

div.disabled > * {
    opacity: 0.35;
}

select.disabled {
    opacity: 0.4;
}

.midi-messages {
    color: #009AD7;
}
