
:root {
    --inset-width: 1px;

    --value: yellow;
    --knob-back-border: #777;
    /*--knob-path-bg: #1c1c1c;*/
    --knob-value: #d3d347;
    --knob-back-track-color: #303030;

    --body-bg-from: #202023;
    --body-bg-to: #3E3E46;

    --title-text: #aaa;
    --header-text: #ccc;
    --default-text: #ccc;

    --menu-text: #ccc;
    --menu-text-hover: yellow;

    --default-bg-from: #454547;
    --default-bg-to: #373738;

}

*:focus {
    outline: none;
}

html {
    /* html is the root element for "rem" unit */
    /*font-size: 1.7vh;*/
    user-select: none;
}

body {
    margin: 0;
    padding: 1vw;
    background: var(--body-bg-from); /* linear-gradient(to bottom, #202023, #3E3E46); */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: var(--default-text);
}


.header {
    margin: 3px 0 6px 0;
}

.header > div {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--header-text);
    padding: 0 3px;
    font-size: 1.0rem;
    letter-spacing: 1px;
    font-weight: 500;
}

#main {
    margin: 0;
    padding: 0;
}

#midi {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    padding-bottom: 1rem;
}

#midi h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    border-bottom: 1px solid #aaa;
}

.midi-messages {
    overflow-y: scroll;
}


#title {
    grid-column: 1 / span 5;
    grid-row: 1;
    background: transparent !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--title-text);
}

#title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--header-text);
    padding: 0;
    margin: 0;
}

.glow {
    color: #1DBEFB!important;
    text-shadow: 0 0 15px #98DBF5;
    /*text-shadow: 0 0 16px #ffff00;*/
}

#title > div.menu {
    margin-bottom: 0.25rem;
    color: var(--menu-text);
}


.menu span {
    margin-left: 0.8vw;
}
.menu a {
    color: var(--menu-text);
    text-decoration: none;
}
.menu a:hover {
    color: var(--menu-text-hover);
}



