body {
    -webkit-print-color-adjust: exact;  /* force background graphics to be printed */
    font-family: sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

.error {
    color: red;
    font-weight: bold;
}

#cmds {
    float: right;
    text-align: right;
}

#print {
    font-weight: bold;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 12px;
}

h2 {
    font-size: 18px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    margin-bottom: 9px;
}

#patch-number, #patch-name {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table.values tr td {
    padding: 1mm 2mm;
}

table.values tr td:first-child {
    /*padding-right: 1em;*/
    /*width: 7cm;*/
}

table.values tr td:last-child {
    text-align: right;
    /*width: 2cm;*/
}

table.values tr:nth-child(odd) {
    background-color:#fff;
}

table.values tr:nth-child(even) {
    background-color:#eee;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #fff;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    line-height: 140%;
}

.wrapper h1 {
    padding: 0;
    margin: 0;

}

.instructions {
    /*border-top: 1px solid #ddd;*/
    /*padding: 10px 0;*/
    color: #555;
    line-height: 140%;
}

@media print {
    @page {
        margin: 0;
        size: landscape;
        /*margin: 15mm;*/
    }

    body {
        margin: 0 15mm;
        /*margin: 0;*/
        font-size: 8pt;
    }

    h1 {
        margin-top: 10mm;
        page-break-before: always;
    }

    h2 {
        padding-bottom: 0;
        margin-bottom: 2mm;
        border: none;
    }

    .wrapper {
        grid-gap: 2mm;
        /*display: grid;*/
        /*grid-gap: 10px;*/
        grid-template-columns: repeat(4, 1fr);
        /*background-color: #fff;*/
        /*margin-bottom: 20px;*/
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 2mm;
        padding: 2mm;
    }

    a, #cmds {
        display: none;
    }


}
