

body {
    -webkit-print-color-adjust: exact;  /* force background graphics to be printed */
    font-family: sans-serif;
    font-size: 10pt;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 12px;
}
h2 {
    font-size: 18px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 9px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table.values tr td:first-child {
    /*padding-right: 1em;*/
    /*width: 7cm;*/
}
table.values tr td:last-child {
    text-align: right;
    /*width: 2cm;*/
}

table.values tr:nth-child(odd) {
    background-color:#eee;
}
table.values tr:nth-child(even) {
    background-color:#fff;
}


.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
}

.box {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    /*font-size: 150%;*/
    line-height: 140%;
}

.wrapper h1 {
    padding: 0;
    margin: 0;

}